<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

    <div class="about-indent">
        <h3>About us:</h3>
        <h4>the Working Computer is a (very) small company dedicated, as the 
        little banner <br/>below suggests, to making computers work for people.  
        This happens via IT and web services, <br/>and products for individuals with 
        traumatic brain injuries or developmental disabilities.  <br/>We also make 
        web, mobile, and desktop applications in other areas we find interesting, 
        <br/>such as music, mathematics, logistics, and computer gaming.</h4>
    

        <h3>Technology:</h3>
        <h4>We like Python! and we use it for everything we can, including
        this <br/>WebSite (Flask).We also work in Clojure, Android, and Javascript,
        and are considering <br/>the merits of porting to the Iphone/Ipad.</h4>
        <h4>We work and live in New Hampshire, USA.</h4>
    </div>

        <h3><a href="mailto:contact@theworkingcomputer.com?subject=Email from webpage">Contact us</a></h3>

{% endblock content %}