{% extends "base.html" %}

<!DOCTYPE html>

{% block content %}

        <h3><u>Disability Services</u></h3>
        <h4><a href="home">the Working Computer</a> came out of a need for 
        specialized computer products for people with disabilities.</h4>

        <h4>We make, install, and support custom software and <a href="itservices">
        hardware </a>solutions</h4>

        <h4>for PC and Android and other systems, including phones, tablets, desktops, 
        and laptops.</h4> 

        <h4>Please <a href="mailto:contact@theworkingcomputer.com?subject=disability svcs">
        contact us</a> for a free, respectful, and fun consultation!</h4>

{% endblock content %}