<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

        <h3>IT Services:</h3>
        <div>&nbsp;</div>
        <h4>We make your Information Technology systems (your computer) work for you. That's <br/>
        why we are in business, so we make sure you have the right hardware and software to do the <br/>
        job you want to do, when you want to do it.</h4>
        <div>&nbsp;</div>
        <h4>Whether it's hooking Grandpa's computer up to the internet so he can see the Grandkids <br/>
        graduate realtime ...</h4>
        <div>&nbsp;</div>
        <h4>... Or crafting a custom desktop solution so an individual who cannot type can visit <br/>
        their family on Facebook ...</h4>
        <div>&nbsp;</div>
        <h4>... Or making sure a business can keep track of its sales and salespeople in London or <br/>
        Cairo or wherever, all over the world ...</h4>
        <div>&nbsp;</div>
        <h4>We do it, and we do it right.</h4>
        <div>&nbsp;</div>
        <h4><a href="mailto:contact@theworkingcomputer.com?subject=Email from webpage">
        Send us an email</a> if you want to talk about IT stuff, or just to find out more about us.</h4>

{% endblock content %}