{% extends "base.html" %}

<!DOCTYPE html>

{% block content %}

    <head>
    	<h1 id="headWelcome">Welcome ...</h1>
    	<div>&nbsp;</div>
    </head>

    <body>
    	<h4>... to <a href="/">theWorkingComputer.com</a>, your source for computer stuff that works,</h4>
    	<div>&nbsp;</div>
    	<h4>for real people</h4>
    	<div>&nbsp;</div>
    	<h4>with real work to do.</h4>
    	<div>&nbsp;</div>
    	<hr>
    	<h3>Computers should work for people,</h3>
    	<h3>not the other way around.</h3>
        <hr>
    </body>    
    

{% endblock content %}