{% extends "base.html" %}

<!DOCTYPE html>

{% block content %}

        <h4>We all like to think that everything we do is special.</h4>
        <h4>These are some of the things we are currently spending time on.</h4>
        <div>&nbsp;</div>
        <hr>
        <h3><a href="presentative">Presentative</a></h3>
        <h4>Presentative is a small, adaptive, highly curated group blog project that we <br/>
        have been working on with some friends. It is barely in alpha status. If you want <br/>
        to be included in testing/trying out, or if you already know and like us and we <br/>
        somehow missed you in the initial inclusionary email, <a href="mailto:contact@theworkingcomputer.com?subject=Email
        from presentative">let us know</a>.</h4>
        <hr>
        <h3><a href="neohermes">Neohermes Desktop</a></h3>
        <h4>The Neohermes Desktop is a graphical, non-verbal Desktop/Operating
        system, designed
        especially for individuals who have difficulty with reading, writing,
        or fine motor movement. <a href="neohermes">More info</a>.</h4>
    	<hr>
        <h3><a href="timeandtravel">Tracker/Keeper</a></h3>
        <h4>Our Tracker/Keeper is a combination android and web app for tracking
        and reporting travel and work time and tasks, particularly for those who
        have concerns related to HIPAA regulations. It is currently in alpha
        testing and will soon (hopefully) be opened up for beta testers.
        <a href="mailto:contact@theworkingcomputer.com?subject=Email
        from timeandtravel">Let us know </a>if you or your company would like
        to try it out.</h4>
        <hr>
        <h3><a href="dnamusic">DNA Music</a></h3>
        <h4>We love music. In fact, we think music is, literally, encoded in our
        genes. DNA Music "draws" multi-dimensional non-linear equations
         based on
        DNA from selected organisms, then uses these drawings to describe
        multi-dimensional non-linear aural sculptures, i.e., music. Then we save
        them as .midi files so we can listen at our leisure.</h4><h4>We
        have been working on this project for a while, and find it promising for
        several kinds of investigations involving non-linear data structures,
        including phylogenetics, picture searching, and, not least, making music
        from the fractal picture of our own genome.</h4>
        <hr>
        <h3><a href="pyxcel">Pyxcel Spreadsheet Writer</a></h3>
        <h4>We use this utility, written in Python 2.7, to transcribe data into
        .xls format in our Tracker/Keeper app. It's pretty handy; as soon as we have
        the time, we will be making it available to everyone, on the Python Package
        Index.</h4>

{% endblock content %}
