<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="home">Home</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="dis-navbar-nav" href="disability">Disability Access</a></li>
      <li><a class="hoop-navbar-nav" href="hooptedoodle">Hooptedoodle</a></li>
      <li><a class="web-navbar-nav" href="web_pages">Web pages and Hosting</a></li>
      <li><a class="blog-navbar-nav" href="http://twc-blog.theworkingcomputer.com">Blog</a></li>
      <!-- Space for Products tab -->
      <li><a class="contact-navbar-nav" href="contact">Contact Us</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">In the Lab<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="spec-dropdown-menu" href="specials">Special Projects</a></li>
          <li><a class="about-dropdown-menu" href="about">About us</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
